.ophthacare-login-wrapper {
  background-image: url('/assets/images/OphthaCare-background.png');
  background-size: contain;
  background-repeat: round;
  background-position: initial;
}
img {
  border-radius: 50%;
}
.mat-toolbar {
  height: 100px;
}
#ophthacare {    
  max-width: 35%;    
  margin: 2em auto;    
  text-align: center;    
}
.header {
  display: inline-block;
  line-height: 32px;
  padding-top: -10px;
  text-align: center;
}
.mat-tab-group {
  padding-top: 150px;
}
.ophthacare-login {
  margin-left: auto; 
  margin-right: auto;
}
.hide-show-password {
  cursor: pointer;
}
.content-cta-login {
  padding: 50px 0px;
}
.content-text-login {
  padding: 50px 0px;
  font-size: 22px;
  line-height: 30px;
  color: #63666a;
}
.ophthacare-login-card-large {
  color: white;
  padding: 30px;
  background: #4f1dda;
}
.ophthacare-login-card-small {
  background: #4f1dda;
  color: white;
  padding: 30px;
  height: 245px;
}
.ophthacare-login-card-title {
  margin: 10px 0px;
  text-align: justify;
}
.ophthacare-login-password {
  margin: 50px 0px 20px;
  font-size: 16px;
}
.ophthacare-reset-password {
  color: #4f1dda;
  font-weight: 500;
}

@media (max-width: 992px) {
  .ophthacare-login-card-small {
    margin-top: 20px;
    padding: 0px;
  }
}
