img {
  border-radius: 50%;
}

.mat-toolbar {
  height: 100px;
}

#ophthacare {    
  max-width: 35%;    
  margin: 2em auto;    
  text-align: center;    
}

.header {
  display: inline-block;
  line-height: 32px;
  padding-top: -10px;
  text-align: center;
}
.mat-tab-group {
  padding-top: 150px;
  background-color: #eff0f0;
  background-image: url('/assets/images/OphthaCare-background.png');
}
.container-fluid {
  background-color: #eff0f0;
}
.ophthacare-login {
  margin-left: auto; 
  margin-right: auto;
}
.hide-show-password {
  cursor: pointer;
}
.content-cta-login {
  padding: 50px 0px;
}
.content-text-login {
  padding: 50px 0px;
  font-size: 22px;
  line-height: 30px;
  color: #63666a;
}