<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><img src="./assets/images/giphy.gif" width="120" height="120"></span>
  <div class="header">
    <span><b style="font-size: 2.3em; color: white; top: 5px;"><em>Ophtha</em><em style="color:blue;">Care</em></b></span><br>
    <span><em style="font-size: 0.9em;">{{ 'your eyes, our priority' | translate }}</em></span>
  </div>

  <div class="nav-brand"></div>
  <!-- Form Recherche -->
  <form class="hidden-sm" style="margin-left: 20px;">
    <mat-icon matPrefix style="margin-right: 5px; margin-top: 15px;">search</mat-icon>
    <mat-form-field style="padding-top: 20px;">
      <input matInput [placeholder]="'Search' | translate">
    </mat-form-field>
  </form>
  <span class="nav-spacer"></span>
  <!-- Button Informations -->
  <a class="hidden-sm" mat-icon-button [matMenuTriggerFor]="information" style="margin-right: 150px;">
    <mat-icon class="sizeIcon" style="color:green">info</mat-icon> <span
      style="padding-left: 15px;">{{ 'Informations' | translate }}</span>
  </a>
  <mat-menu #information="matMenu">
    <a mat-menu-item href="#" class="item-profil" target="_blank">
      <mat-icon>vpn_lock</mat-icon>
      <span><em>www.ophthacare.com</em></span>
    </a>
    <a mat-menu-item disabled class="item-profil">
      <mat-icon>phone</mat-icon>
      <span>823 456 5859</span>
    </a>
  </mat-menu>
  <!-- Current Time -->
  <button id="icon-button" class="hidden-sm" mat-icon-button style="margin-right: 150px; top:-10px;" disabled>
    <div class="wapper">
      <div class="icon">
        <mat-icon class="sizeIcon" style="color: blue;">access_time</mat-icon>
      </div>
      <div class="text">
        <span style="color:white;">{{ CurrentDate }}</span><br>
        <span style="color: black;"><b>{{ CurrentTime }}</b></span>
      </div>
    </div>
  </button>
  <!-- Button Langues -->
  <a class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
    <mat-icon class="sizeIcon">language</mat-icon>
  </a>
  <mat-menu #language="matMenu">
    <a mat-menu-item (click)="changeLang('en')" class="item-profil">
      <span><img src="./assets/flags/GB.png"> {{ 'English' | translate }}</span>
    </a>
    <a mat-menu-item (click)="changeLang('fr')" class="item-profil">
      <span><img src="./assets/flags/FR.png"> {{ 'French' | translate }}</span>
    </a>
    <a mat-menu-item (click)="changeLang('it')" class="item-profil">
      <span><img src="./assets/flags/IT.png"> {{ 'Italian' | translate }}</span>
    </a>
  </mat-menu>
  <!-- Button Account -->
  <a mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon class="sizeIcon">account_circle</mat-icon>
  </a>
  <mat-menu #profile="matMenu">
      <a mat-menu-item [routerLinkActive]="'active'" [routerLink]="['/profil']" class="item-profil">
        <mat-icon>person</mat-icon>
        <span>{{ 'Profile' | translate }}</span>
      </a>
    <button mat-menu-item>
      <mat-icon>inbox</mat-icon>
      <span>{{ 'Inbox' | translate }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>{{ 'Settings' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLoggedout()" style="color: green;">
      <mat-icon style="color:red;">power_settings_new</mat-icon>
      <span><b>{{ 'Logout' | translate }}</b></span>
    </button>
  </mat-menu>
</mat-toolbar>