img {
  border-radius: 50%;
}

.mat-toolbar {
  height: 100px;
}

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.nav-brand {
  width: 215px;
  text-align: center;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}

.visible-sm {
  display: none;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }

  .nav-brand {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

.clock {
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  color: red;
  padding-right: 20px;
}

.clock ul {
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.clock ul li {
  display: inline;
  font-size: 1em;
  font-family: "Arial", Helvetica, sans-serif;
}


#Date { 
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 1em;
  color: black;
  text-align: center;
}

#point {
  color: black;
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 5px;
  padding-right: 5px
}