<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><img src="./assets/images/giphy.gif" class="ophthacare-logo-size"></span>
  <div class="header">
      <a href="#" target="_blank" title="OphthaCare {{ 'Clinic' | translate }}">
          <span><b class="ophthacare-Ophtha"><em>Ophtha</em><em
                      class="ophthacare-care">Care</em></b></span><br>
          <span><em class="ophthacare-logo-subtitle">{{ 'your eyes, our priority' | translate }}</em></span>
      </a>
  </div>

  <div class="nav-brand"></div>
  <!-- Form Recherche -->
  <form class="hidden-sm" class="search-position" *ngIf="isConnected">
    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <mat-form-field class="search-input-position">
      <input matInput [placeholder]="'Search' | translate">
    </mat-form-field>
  </form>
  <span class="nav-spacer"></span>
  <!-- Button Informations -->
  <a class="hidden-sm" mat-icon-button [matMenuTriggerFor]="information" class="informations-position">
    <mat-icon class="sizeIcon ophthacare-btn-green">info</mat-icon> <span
      class="informations-icon">{{ 'Informations' | translate }}</span>
  </a>
  <mat-menu #information="matMenu">
    <a mat-menu-item href="#" class="item-profil" target="_blank">
      <mat-icon>vpn_lock</mat-icon>
      <span><em>www.ophthacare.com</em></span>
    </a>
    <a mat-menu-item disabled class="item-profil">
      <mat-icon>phone</mat-icon>
      <span>823 456 5859</span>
    </a>
  </mat-menu>
  <!-- Current Time -->
  <button id="icon-button" class="hidden-sm" mat-icon-button class="infos-button" disabled>
    <div class="wapper">
      <div class="icon">
        <mat-icon class="sizeIcon ophthacare-care">access_time</mat-icon>
      </div>
      <div class="text">
        <span class="ophthacare-btn-white">{{ CurrentDate }}</span><br>
        <span class="ophthacare-btn-black"><b>{{ CurrentTime }}</b></span>
      </div>
    </div>
  </button>
  <!-- Button Langues -->
  <a class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
    <mat-icon class="sizeIcon">language</mat-icon>
    <img class="selected-language" [src]="selectedLanguage == 'en' ? './assets/flags/GB.png' : (selectedLanguage == 'fr' ? './assets/flags/FR.png' : './assets/flags/IT.png')" />
  </a>
  <mat-menu #language="matMenu">
    <a mat-menu-item (click)="changeLang('en')" class="item-profil">
      <span><img src="./assets/flags/GB.png"> {{ 'English' | translate }}</span>
    </a>
    <a mat-menu-item (click)="changeLang('fr')" class="item-profil">
      <span><img src="./assets/flags/FR.png"> {{ 'French' | translate }}</span>
    </a>
    <a mat-menu-item (click)="changeLang('it')" class="item-profil">
      <span><img src="./assets/flags/IT.png"> {{ 'Italian' | translate }}</span>
    </a>
  </mat-menu>
  <!-- Button Account -->
  <a mat-icon-button [matMenuTriggerFor]="profile" *ngIf="isConnected">
    <mat-icon class="sizeIcon">account_circle</mat-icon>
  </a>
  <mat-menu #profile="matMenu">
      <a mat-menu-item [routerLinkActive]="'active'" [routerLink]="['/profil']" class="item-profil">
        <mat-icon>person</mat-icon>
        <span>{{ 'Profile' | translate }}</span>
      </a>
    <button mat-menu-item>
      <mat-icon>inbox</mat-icon>
      <span>{{ 'Inbox' | translate }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>{{ 'Settings' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
   
    <button mat-menu-item (click)="onLoggedout()" class="ophthacare-btn-green">
      <mat-icon class="ophthacare-matIcon-red">power_settings_new</mat-icon>
      <span><b>{{ 'Logout' | translate }}</b></span>
    </button>
  </mat-menu>
</mat-toolbar>