img {
  border-radius: 50%;
}

.mat-toolbar {
  height: 100px;
}

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.nav-brand {
  width: 215px;
  text-align: center;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}

.visible-sm {
  display: none;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }

  .nav-brand {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  .hidden-sm:hover {
    text-decoration: none;
  }
}

.sizeIcon {
  font-size:36px;
}

.wrapper {
  width: 324px;
  background-color: red;
  height: 130px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.icon {
  height: 50px;
  width: 49%;
  display: inline-block;
  margin-top: 20px;
  vertical-align: bottom;
}

.icon mat-icon {
  width: 50px;
  float: right;
}

.text {
  display: inline-block;
  line-height: 25px;
  top: -5px;
}

.header {
  display: inline-block;
  line-height: 32px;
  padding-top: -10px;
  text-align: center;
}

.item-profil:hover {
  text-decoration: none;
  color: #c2185b;
  font-weight: 800;
}

.hidden-sm:hover {
  text-decoration: none;
}