<div class="content-footer">
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-4">
        <p class="ophthacare-content text-xs-center text-md-left">
          <span class="ophthacare-description">{{ 'ophthacare-description' | translate }}</span>
          <span class="ophthacare-footer-title">©{{ initYear }}<span *ngIf="!correct"> - {{ currentYear }}</span> OphthaCare {{ 'Clinic' |  translate }}. {{ 'copyright' | translate }}</span>
        </p>
        <ul class="ophthacare-socials">
          <li class="ophthacare-icon">
            <a href="#" class="icon-facebook" title="Facebook OphthaCare"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-instagram" title="Instagram OphthaCare"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-linkedin" title="Linkedin OphthaCare"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p class="errorMsg">{{ 'version' | translate }} v1.0.0</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4 class="ophthacare-footer">{{'about-us' | translate }}</h4>
            <ul class="ophthacare-links">
              <li><a [routerLink]="['/opththacare']"><i class="fa fa-angle-double-right"></i> {{ 'about-ophthacare' | translate }}</a></li>
              <li><a [routerLink]="['/platform']"><i class="fa fa-angle-double-right"></i> {{ 'our-platform' | translate }}</a></li>
              <li><a [routerLink]="['/team']"><i class="fa fa-angle-double-right"></i> {{ 'our-team' | translate }}</a></li>
              <li><a [routerLink]="['/support']"><i class="fa fa-angle-double-right"></i> {{ 'support-ophthacare' | translate }}</a></li>
              <li><a [routerLink]="['/contact']"><i class="fa fa-angle-double-right"></i> {{ 'contact-us' | translate }}</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
              <h4 class="ophthacare-footer">{{'services' | translate }}</h4>
              <ul class="ophthacare-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
              <h4 class="ophthacare-footer">{{'solutions' | translate }}</h4>
              <ul class="ophthacare-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="separator-footer">
    <div class="row">
      <ul class="ophthacare-privacy">
          <li><a [routerLink]="['/legal-notice']">{{ 'legalNotice' | translate }}</a></li> •
          <li><a [routerLink]="['/terms-conditions']">{{ 'termsAndConditions' | translate }}</a></li> •
          <li><a [routerLink]="['/privacy-policy']" >{{ 'privacyPolicy' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>