.content-footer {
    display: block;
    bottom: 0;
    position: relative;
    padding: 50px 30px 10px;
    background-color: rgba(0,0,0);
    color: #63666a;
    font-size: 18px;
    font-weight: 600;
}
ul.ophthacare-socials {
    list-style-type: none;
    display: flex;
    left: -40px;
    position: relative;
}
ul.ophthacare-links {
    list-style-type: none;
    top: 55px;
    position: relative;
    left: -35px;
}
ul.ophthacare-privacy {
    list-style-type: none;
    display: flex;
    margin: 0px auto 20px;
}
ul.ophthacare-privacy li a {
    padding: 0px 10px;
    color: #4f1dda;
}
ul.ophthacare-privacy li a:hover {
    color: #fff;
}
ul.ophthacare-links li {
    padding: 5px 0px;
}
ul.ophthacare-links li a {
    text-decoration: none;
    color: #fff;
}
ul.ophthacare-links li a:hover {
    color: #4f1dda;
    padding-left: 5px;
    transition: all 300ms;
}
li.ophthacare-icon {
    margin-right: 25px;
}
ul.ophthacare-socials li a {
    font-size: 32px;
}
ul.ophthacare-socials li a.icon-facebook {
    color: #3b5998;
}
ul.ophthacare-socials li a.icon-instagram {
    color: #517fa4;
}
ul.ophthacare-socials li a.icon-linkedin {
    color: #0077b5;
}
ul.ophthacare-socials li a .fa-facebook-square:hover,
ul.ophthacare-socials li a .fa-instagram:hover,
ul.ophthacare-socials li a .fa-linkedin-square:hover {
    color: #fff;
}
.ophthacare-footer {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #4f1dda;
    position: absolute;
}
.ophthacare-footer::after {
    background: #fff;
    content: "";
    display: block;
    height: 4px;
    top: 10px;
    position: relative;
    width: 50px;
}
.separator-footer {
    border: 1px solid #fff;
    width: 50%;
    margin-top: 2rem;
}
.ophthacare-description {
    padding: 0px 0px 20px;
    border-bottom: 1px solid #fff;
}
.ophthacare-footer-title {
    padding: 15px 0px;
}
.ophthacare-content {
    display: grid;
    text-align: justify !important;
    margin: 0px 35px 0px 0px;
    padding: 0px 35px 0px 0px;
}
.ophthacare-store-container {
    display: flow-root;
    margin: 0px 50px;
}
.ophthacare-icon-store {
    width: 150px;
    height: 50px;
    width: 150px;
    height: 50px;
    margin: 0 5px;
    background: white;
    border-radius: 5px;
}
.ophthacare-store {
    float: right;
}
.ophthacare-footer-contraste,
.ophthacare-footer-texte {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 1.5625rem .95rem;
}
.ophthacare-footer-contraste-icon,
.ophthacare-footer-texte-icon {
  cursor: pointer;
  display: inline-block;
  padding: .625rem .3125rem 0;
  color: #fff;
}
.ophthacare-footer-contraste-icon-selection {
  opacity: 1;
  padding-bottom: .3125rem;
}
.ophthacare-footer-contraste-icon-point,
.ophthacare-footer-texte-icon-point {
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
  margin: auto;
  background-color: #fff;
}
.ophthacare-footer-container {
  display: flex;
  border: 1px solid #fff;
  margin-top: 1.25rem;
}
.ophthacare-footer-fa-icon-1 {
  font-size: .85rem;
}
.ophthacare-footer-fa-icon-2 {
  font-size: 1.15rem;
}
.ophthacare-footer-fa-icon-3 {
  font-size: 1.75rem;
}