<div class="content-footer">
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-4">
        <p class="ophthacare-content text-xs-center text-md-left">
          <span class="ophthacare-description">{{ 'ophthacare-description' | translate }}</span>
          <span class="ophthacare-footer-title">©{{ initYear }}<span *ngIf="!correct"> - {{ currentYear }}</span> OphthaCare {{ 'Clinic' |  translate }}. {{ 'copyright' | translate }}</span>
        </p>
        <ul class="ophthacare-socials">
          <li class="ophthacare-icon">
            <a href="#" class="icon-facebook" title="Facebook OphthaCare"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-instagram" title="Instagram OphthaCare"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-linkedin" title="Linkedin OphthaCare"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p class="errorMsg">{{ 'version' | translate }} v1.0.0</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4 class="ophthacare-footer">{{'about-us' | translate }}</h4>
            <ul class="ophthacare-links">
              <li><a [routerLink]="['/opththacare']"><i class="fa fa-angle-double-right"></i> {{ 'about-ophthacare' | translate }}</a></li>
              <li><a [routerLink]="['/platform']"><i class="fa fa-angle-double-right"></i> {{ 'our-platform' | translate }}</a></li>
              <li><a [routerLink]="['/team']"><i class="fa fa-angle-double-right"></i> {{ 'our-team' | translate }}</a></li>
              <li><a [routerLink]="['/support']"><i class="fa fa-angle-double-right"></i> {{ 'support-ophthacare' | translate }}</a></li>
              <li><a [routerLink]="['/contact']"><i class="fa fa-angle-double-right"></i> {{ 'contact-us' | translate }}</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
              <h4 class="ophthacare-footer">{{'services' | translate }}</h4>
              <ul class="ophthacare-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4 class="ophthacare-footer">{{'solutions' | translate }}</h4>
            <ul class="ophthacare-links">
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row ophthacare-store-container">
      <div class="ophthacare-store">
        <a href="https://www.apple.com/it/ios/app-store/"><img class="ophthacare-icon-store" src="/assets/images/App_Store.png"/></a>
        <a href="https://play.google.com/store"><img class="ophthacare-icon-store" src="/assets/images/Google_Play.png"/></a>
        <a href="https://www.microsoft.com/it-it/store/apps/windows?icid=CNavAppsWindowsApps"><img class="ophthacare-icon-store" src="/assets/images/Windows_Store.png"/></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 mr-auto ml-auto ophthacare-footer-container">
        <div class="ophthacare-footer-contraste">
          <div class="ophthacare-footer-contraste-icon" role="button" tabindex="0">
            <div class="fa">&#xf042;</div>
            <div class="ophthacare-footer-contraste-icon-selection">
              <div class="ophthacare-footer-contraste-icon-point"></div>
            </div>
          </div>
          <div class="ophthacare-footer-contraste-icon" role="button" tabindex="0">
            <div class="fa fa-rotate-180">&#xf042;</div>
            <div class="ophthacare-footer-contraste-icon-selection">
              <div class="ophthacare-footer-contraste-icon-point"></div>
            </div>
          </div>
        </div>
        <div class="ophthacare-footer-texte">
          <div class="ophthacare-footer-texte-icon" role="button" tabindex="0">
            <div class="fa ophthacare-footer-fa-icon-1">&#xf031;</div>
            <div class="ophthacare-footer-texte-icon-selection">
              <div class="ophthacare-footer-texte-icon-point"></div>
            </div>
          </div>
          <div class="ophthacare-footer-texte-icon" role="button" tabindex="0">
            <div class="fa ophthacare-footer-fa-icon-2">&#xf031;</div>
            <div class="ophthacare-footer-texte-icon-selection">
              <div class="ophthacare-footer-texte-icon-point"></div>
            </div>
          </div>
          <div class="ophthacare-footer-texte-icon" role="button" tabindex="0">
            <div class="fa ophthacare-footer-fa-icon-3">&#xf031;</div>
            <div class="ophthacare-footer-texte-icon-selection">
              <div class="ophthacare-footer-texte-icon-point"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="separator-footer">
    <div class="row">
      <ul class="ophthacare-privacy">
        <li><a [routerLink]="['/legal-notice']">{{ 'legalNotice' | translate }}</a></li> •
        <li><a [routerLink]="['/terms-conditions']">{{ 'termsAndConditions' | translate }}</a></li> •
        <li><a [routerLink]="['/privacy-policy']" >{{ 'privacyPolicy' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>