.mat-card {
    width: 100%;
    text-align: left;
}
.ophthacare-lineChart {
    display: grid;
    left: -16px;
    position: relative;
}
.ophthacare-lineChart .ophthacare-lineChart-title {
    font-size: 15px;
    float: left;
    margin-bottom: 0;
    color: #ffffff;
}
.ophthacare-lineChart .ophthacare-lineChart-subtitle {
    font-size: 20px;
    float: left;
    margin-bottom: 0;
    color: #d12420;
}