.mat-card {
    width: 99%;
    background-color: white;
    color: black;
}
.mat-card-header .ophthacare-lineChart-title {
    font-size: 15px;
    float: left;
    margin-bottom: 0;
    color: #63666a;
}
.mat-card-header .ophthacare-lineChart-subtitle {
    font-size: 18px;
    float: left;
    margin-bottom: 0;
    color: #d12420;
}