body .ui-inputtext:enabled:hover:not(.ui-state-error),
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #048600;
  box-shadow: 0 0 5px #048600;
  outline: 0;
  -webkit-box-shadow: 0 0 5px #048600;
  -moz-box-shadow: 0 0 5px #048600;
}

body .ui-button.ui-state-default.ui-button-success,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default {
  color: #ffffff;
  background-color: #048600;
  border: 1px solid #048600;
}

body .ui-button.ui-state-default.ui-button-success:enabled:hover,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default:enabled:hover {
  background-color: #048600;
  color: #ffffff;
  border-color: #048600;
}

body .ui-button.ui-state-default.ui-button-success:enabled:active,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default:enabled:active {
  background-color: #048600;
  color: #ffffff;
  border-color: #048600;
}

body .ui-button.ui-state-default.ui-button-danger,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default {
  color: #ffffff;
  background-color: #d12420;
  border: 1px solid #d12420;
}

body .ui-button.ui-state-default.ui-button-danger:hover,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default:hover {
  background-image: linear-gradient(to left, #930d18, #d12420);
}
