<p-blockUI [baseZIndex]="4500" [blocked]="blocked"></p-blockUI>

<div *ngIf="blocked == true" style="position: absolute;top: 40%;left: 40%; z-index: 1002;">
  <img src="/assets/images/giphy.gif" title="Leopard" style="-webkit-transform: scaleX(-1); transform: scaleX(-1); width:40%" />
</div>

<app-home></app-home>
<div class="main-container">
  <div style="background: #3385a9">
    <div class="title">
      {{ 'Patients Clinique' | translate }}
    </div>
  </div>
  <div>
    <p-table #dt [columns]="cols" [value]="patients.list" [paginator]="true" [rows]="10" selectionMode="single">
      <ng-template pTemplate="caption">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-button type="button" label="{{ 'Download Patients' | translate }}" (onClick)="exportExcelPatients()"
              icon="pi pi-download" class="ui-button-success"></p-button>
            <p-button label="{{ 'New Patient' | translate }}" [disabled]="isAdmin()" (onClick)="createPatient()"
              icon="pi pi-user-plus" iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
          <div class="ui-toolbar-group-right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="filter" type="text" pInputText size="50" placeholder="{{ 'Filter' | translate }}"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <p-button label="{{ 'Reset Filter' | translate }}" (click)="clearFilter(dt)" icon="pi pi-times"
              iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header | translate }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input class="filter" *ngIf="col.field != 'detail'"
              style="max-width: -webkit-fill-available; max-width: -moz-available;" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>
            <p-button type="button" style="margin-left:33%" (click)="detailsPatient(patient)" [disabled]="isAdmin()" icon="pi pi-search"></p-button>
          </td>
          <td class="code"><b>{{ patient.codePatient }}</b></td>
          <td>{{ patient.nomPatient }}</td>
          <td>{{ patient.prenomPatient }}</td>
          <td>{{ patient.sexePatient }}</td>
          <td>{{ patient.dateNaisPatient }}</td>
          <td>{{ patient.numTelPatient }}</td>
          <td>
            <p-button type="button" style="margin-left:33%" styleClass="ui-button-success" (click)="updatePatient(patient)" [disabled]="isAdmin()" icon="pi pi-pencil"></p-button>
          </td>
          <td>
            <p-button type="button" icon="pi pi-trash" styleClass="ui-button-danger" style="margin-left:33%" (click)="deletePatient(patient)" [disabled]="isAdmin()"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Dialog Confirmation Delete -->
  <p-confirmDialog [style]="{width: '500px'}"></p-confirmDialog>
</div>

<!-- Dialog Add New Patient -->
<p-dialog header="{{ 'New Patient' | translate }}" [(visible)]="displayNewDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <form (ngSubmit)="submitPatient(newPatient)" #newForm="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-3">
          <label for="firstname"><b>{{ 'firstName' | translate }}</b></label>
          <input type="text" id="firstname" name="firstname" [(ngModel)]="newPatient.nomPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-3">
          <label for="lastname"><b>{{ 'lastName' | translate }}</b></label>
          <input type="text" id="lastname" name="lastname" [(ngModel)]="newPatient.prenomPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-3">
          <label for="sex"><b>{{ 'sex' | translate }}</b></label><br>
          <p-selectButton id="sex" name="sex" [(ngModel)]="newPatient.sexePatient" [options]="gender" required></p-selectButton>
        </div>
        <div class="col-md-3">
          <!-- <label for="born"><b>{{ 'dateOfBorn' | translate }}</b></label><br>
          <p-calendar [(ngModel)]="newPatient.dateNaisPatient" [ngModelOptions]="{standalone: true}" [(ngModel)]="value" showTime="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
          <span>{{ newPatient.dateNaisPatient }}</span> -->
          <label for="datepicker"><b>{{ 'dateOfBorn' | translate }}</b></label><br>
          <ejs-datepicker id="datepicker" name="datepicker" placeholder="{{ 'Select a date' | translate }}" format="dd/MM/yyyy" [(ngModel)]="newPatient.dateNaisPatient" [min]='minDate' [max]='maxDate' required></ejs-datepicker>
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="email"><b>{{ 'email' | translate }}</b></label>
          <input type="text" id="email" name="email" [(ngModel)]="newPatient.emailPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="cellularePhone"><b>{{ 'cellularePhone' | translate }}</b></label>
          <input type="number" id="cellularePhone" name="cellularePhone" [(ngModel)]="newPatient.numTelPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="fixePhone"><b>{{ 'fixePhone' | translate }}</b></label>
          <input type="number" id="fixePhone" name="fixePhone" [(ngModel)]="newPatient.numFixePatient" pInputText class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
          <div class="col-md-5">
            <label for="address"><b>{{ 'address' | translate }}</b></label>
            <input type="text" id="address" name="address" [(ngModel)]="newPatient.addressePatient" pInputText class="form-control" required />
          </div>
          <div class="col-md-5">
            <label for="city"><b>{{ 'city' | translate }}</b></label>
            <input type="text" id="city" name="city" [(ngModel)]="newPatient.domicilePatient" pInputText class="form-control" required />
          </div>
          <div class="col-md-2">
            <label for="postalCode"><b>{{ 'postalCode' | translate }}</b></label>
            <input type="number" id="postalCode" name="postalCode" [(ngModel)]="newPatient.codePostPatient" pInputText class="form-control" required />
          </div>
        </div>
        <div class="row" style="margin: 15px;">
          <div class="col-md-12">
            <label for="supplInfos"><b>{{ 'supplInfos' | translate }}</b></label><br>
            <textarea style="width: 100%;" id="supplInfos" name="supplInfos" [(ngModel)]="newPatient.infoSupplPatient" pInputTextarea [rows]="5" [cols]="30" placeholder="{{ 'Insert others informations ...' | translate }}"></textarea>
          </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
    <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!newForm.form.valid"
          label="{{ 'Create' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Update Patient -->
<p-dialog header="{{ 'Update Patient' | translate }}" [(visible)]="displayUpdateDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <form (ngSubmit)="submitUpdatePatient(patientUpdate)" #updateForm="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-3">
          <label for="firstname"><b>{{ 'firstName' | translate }}</b></label>
          <input type="text" id="firstname" name="firstname" [(ngModel)]="patientUpdate.nomPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-3">
          <label for="lastname"><b>{{ 'lastName' | translate }}</b></label>
          <input type="text" id="lastname" name="lastname" [(ngModel)]="patientUpdate.prenomPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-3">
          <label for="sex"><b>{{ 'sex' | translate }}</b></label><br>
          <p-selectButton id="sex" name="sex" [(ngModel)]="patientUpdate.sexePatient" [options]="gender" required></p-selectButton>
        </div>
        <div class="col-md-3">
          <label for="datepicker"><b>{{ 'dateOfBorn' | translate }}</b></label><br>
          <ejs-datepicker id="datepicker" name="datepicker" placeholder="{{ 'Select a date' | translate }}" [(ngModel)]="patientUpdate.dateNaisPatient" [min]='minDate' [max]='maxDate' required></ejs-datepicker>
          {{ patientUpdate.dateNaisPatient }}
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="email"><b>{{ 'email' | translate }}</b></label>
          <input type="text" id="email" name="email" [(ngModel)]="patientUpdate.emailPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="cellularePhone"><b>{{ 'cellularePhone' | translate }}</b></label>
          <input type="number" id="cellularePhone" name="cellularePhone" [(ngModel)]="patientUpdate.numTelPatient" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="fixePhone"><b>{{ 'fixePhone' | translate }}</b></label>
          <input type="number" id="fixePhone" name="fixePhone" [(ngModel)]="patientUpdate.numFixePatient" pInputText class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
          <div class="col-md-5">
            <label for="address"><b>{{ 'address' | translate }}</b></label>
            <input type="text" id="address" name="address" [(ngModel)]="patientUpdate.addressePatient" pInputText class="form-control" required />
          </div>
          <div class="col-md-5">
            <label for="city"><b>{{ 'city' | translate }}</b></label>
            <input type="text" id="city" name="city" [(ngModel)]="patientUpdate.domicilePatient" pInputText class="form-control" required />
          </div>
          <div class="col-md-2">
            <label for="postalCode"><b>{{ 'postalCode' | translate }}</b></label>
            <input type="number" id="postalCode" name="postalCode" [(ngModel)]="patientUpdate.codePostPatient" pInputText class="form-control" required />
          </div>
        </div>
        <div class="row" style="margin: 15px;">
          <div class="col-md-12">
            <label for="supplInfos"><b>{{ 'supplInfos' | translate }}</b></label><br>
            <textarea style="width: 100%;" id="supplInfos" name="supplInfos" [(ngModel)]="patientUpdate.infoSupplPatient" pInputTextarea [rows]="5" [cols]="30" placeholder="{{ 'Insert others informations ...' | translate }}"></textarea>
          </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
    <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!updateForm.form.valid"
          label="{{ 'Update' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Details Patients -->
<p-dialog header="{{ 'ID' | translate }} : {{ patient.codePatient }} - {{ patient.nomPatient }} {{ patient.prenomPatient }}" [(visible)]="displayDetailsDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-3">
            <p-card header="{{ 'ID' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.codePatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'firstName' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.nomPatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'lastName' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.prenomPatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'sex' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.sexePatient }}</div>
            </p-card>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-md-3">
            <p-card header="{{ 'email' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.emailPatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'year' | translate }}" [style]="{width: '200px'}">
                <div><span *ngIf='patient.agePatient === 1'> {{ yearOld }} </span>{{ patient.agePatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'dateOfBorn' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.dateNaisPatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'postalCode' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.codePostPatient }}</div>
            </p-card>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-3">
            <p-card header="{{ 'cellularePhone' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.numTelPatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'fixePhone' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.numFixePatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'city' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.domicilePatient }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'address' | translate }}" [style]="{width: '200px'}">
                <div>{{ patient.addressePatient }}</div>
            </p-card>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-12">
            <p-card header="{{ 'supplInfos' | translate }}" [style]="{width: '500px'}">
                <div>{{ patient.infoSupplPatient }}</div>
            </p-card>
        </div>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" icon="pi pi-times" (click)="displayDetailsDialog=false" label="Chiudi"
      class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
