/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body, html {
  margin: 0 auto;
}
.mat-card {    
  text-align: -webkit-center;    
}    
  
.demo-toolbar {    
  display: flex;    
  align-items: center;    
  width: 100%;    
}    

.code {
  background-color: #d12420 !important;
  color: #ffffff !important;
}

.profession {
  background-color: #4f1dda !important;
  color: #ffffff !important;
}

div > p-card {
  background-color: #ff3737 !important;
  color: #ffffff !important;
}

.demo-form {    
  min-width: 150px;    
  max-width: 500px;    
  width: 100%;    
}    
  
.demo-full-width {    
  width: 100%;    
}    
  
body {    
  margin: 0;    
  font-family: Roboto, sans-serif;
  background-color: #e0e0e1 !important;    
}    
  
.mat-toolbar.mat-primary {
  background: linear-gradient(to top, #910d18, #d12420);
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #d12420;
}
/*mat-card {    
  max-width: 50%;    
  margin: 10em auto;    
  text-align: center;    
}*/    
  
mat-toolbar-row {    
  justify-content: space-between;    
}    
  
.done {    
  position: fixed;    
  bottom: 20px;    
  right: 20px;    
  color: white;    
}    
  
.content-center {    
  text-align: -webkit-center;    
}    

.main-container {
  position: absolute;
  top: 90px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.mt5 {
  padding-top: 5px;
}
.mt10 {
  padding-top: 10px;
}
.mt15 {
  padding-top: 15px;
}
.mt20 {
  padding-top: 20px;
}
.mb5 {
  padding-bottom: 5px;
}
.mb10 {
  padding-bottom: 10px;
}
.mb15 {
  padding-bottom: 15px;
}
.mb20 {
  padding-bottom: 20px;
}
.ml5 {
  padding-left: 5px;
}
.ml10 {
  padding-left: 10px;
}
.ml15 {
  padding-left: 15px;
}
.ml20 {
  padding-left: 20px;
}
.mr5 {
  padding-right: 5px;
}
.mr10 {
  padding-right: 10px;
}
.mr15 {
  padding-right: 15px;
}
.mr20 {
  padding-right: 20px;
}

.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}

@media screen and (max-width: 992px) {
  .main-container {
      left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .push-right {
          left: 0 !important;
      }
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 99;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
  background: #4f1dda;
}

#toTop:hover {
  background: #fff;
  color: #4f1dda;
}
#toTop:hover .material-icons {
  margin: 10px 10px;
}
#toTop .material-icons {
  margin: 15px 10px;
}
.header a {
  text-decoration: none !important;
}
.header a em {
  color: #fff;
}
.ophthacare-logo-size {
  width:120px;
  height:120px;
}
.ophthacare-matCard-title {
  padding: 15px;
}
.ophthacare-matIcon-position {
  margin-right: 10px;
}
.ophthacare-logo-subtitle {
  font-size: 0.9em;
  color: #fff;
}
.ophthacare-Ophtha {
  font-size: 2.3em; 
  color: white; 
  top: 5px;
}
.ophthacare-care {
  color:#4f1dda !important;
}

/******* Ophthacare Color Buttons *******/
.ophthacare-matIcon-red {
  color: #d12420 !important;
}
.ophthacare-btn-green {
  color: #048600 !important;
}
.ophthacare-btn-black {
  color: black !important;
}
.ophthacare-btn-white {
  color: #fff !important;
}

/******* Ophthacare Page Titres Styles *******/
.ophthacare-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 42px;
  line-height: 1.1;
  text-align: center;
  margin: 27px 0 22px;
  font-weight: 600;
  text-transform: none;
}

/* Ophthacare Grey Title */
.ophthacare-title.grey-page-title {
  color: #63666a;
}

/* Ophthacare Red Title */
.ophthacare-title.red-page-title {
  color: #d12420;
}

/* Ophthacare Bue Title */
.ophthacare-title.blue-page-title {
  color: #4f1dda;
}

/******* Ophthacare Buttons CTA Styles *******/
.ophthacare-button {
  display: inline-block;
  min-width: 144px;
  max-width: 318px;
  height: 40px;
  padding: 6px 20px;
  border-radius: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.ophthacare-button:focus {
  outline: none;
}
.ophthacare-button-text {
  top: -4px;
  position: relative;
  left: 5px;
}
.ophthacare-button.ophthacare-lg {
  height: 60px;
  width: 100%;
  padding: 20px 20px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
}
/* Ophthacare Blue */
.ophthacare-button.blue-btn {
  color: #4f1dda !important;
  background-color: #fff;
  border: solid 1px #4f1dda
}
.ophthacare-button.blue-btn:hover,
.ophthacare-button.blue-btn:focus {
  background-color: #4f1dda;
  color: #fff !important;
  border: none;
}

/* Ophthacare Blue Outline */
.ophthacare-button.blue-outline-btn {
  color: #4f1dda !important;
  background-color: #fff;
  border: solid 1px #4f1dda;
}
.ophthacare-button.blue-outline-btn:hover,
.ophthacare-button.blue-outline-btn:focus {
  background-image: linear-gradient(to right, #fff, #845fec);
}

/* Ophthacare Red */
.ophthacare-button.red-btn {
  color: #fff !important;
  background-color: #d12420;
}
.ophthacare-button.red-btn:hover,
.ophthacare-button.red-btn:focus {
  background-image: linear-gradient(to left, #910d18, #d12420);
  border: none;
}

/* Ophthacare Red Outline */
.ophthacare-button.red-outline-btn {
  color: #d12420 !important;
  border: solid 1px #d12420;
  background: #fff;
}
.ophthacare-button.red-outline-btn:hover,
.ophthacare-button.red-outline-btn:focus {
    background-image: linear-gradient(to right, #fff, #f6d3d2);
}

/* Ophthacare Grey Outline */
.ophthacare-button.grey-outline-btn {
  color: #63666a;
  border: solid 1px #63666a;
  background: #fff;
}
.ophthacare-button.grey-outline-btn:hover,
.ophthacare-button.grey-outline-btn:focus {
    background-image: linear-gradient(to right, #fff, #e0e0e1);
}

/* Ophthacare White Outline */
.ophthacare-button.white-outline-btn {
  border: solid 1px #ffffff;
  color: #fff;
}
.ophthacare-button.white-outline-btn:hover,
.ophthacare-button.white-outline-btn:focus {
    background-image: linear-gradient(to right, #fff, #a1a3a5);
    color: #63666a;
    border: none;
    outline: 0;
}

/* Ophthacare White */
.ophthacare-button.white-btn {
    color: #63666a;
    background-color: #fff;
    border: none;
}
.ophthacare-button.white-btn:hover,
.ophthacare-button.white-btn:focus {
    background-image: linear-gradient(to right, #fff, #a1a3a5);
    color: #63666a;
}

/* Ophthacare Header Component */
.ophthacare-header-component {
  background: linear-gradient(to right, #910d18, #d12420);
  font-size: 28px;
	color: white;
	padding: 20px;
}

/* Scroll Bar Browser Style */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #636660;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: inherit !important;
}
.ui-button-success {
  outline: none;
}
.ui-button:enabled:focus {
  box-shadow: none !important;
}

/* OphthaCare Loading Gif */
.ophthacare-loading {
  position: absolute;
  top: 40%;
  left: 40%; 
  z-index: 1002;
}
.ophthacare-loading-image {
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);
  width:40%;
}

/* OphthaCare Datatables Componenets */
.ophthacare-datatables-row {
  margin: 15px;
}
.ophthacare-dialog-delete {
  width: 550px;
}
.ophthacare-datatables-toolbar {
  margin-left: 20px !important;
}
.ophthacare-datatables-toolbar-search {
  margin:4px 4px 0 0;
}
.ophthacare-datatables-toolbar-input {
  width: auto;
}
.ophthacare-datatables-filter {
  max-width: -webkit-fill-available; 
  max-width: -moz-available;
}
.ophthacare-datatables-cta {
  margin-left: 33%;
}
.ophthacare-datatables-textarea {
  width: 100%;
}