img {
  border-radius: 50%;
}

.mat-toolbar {
  height: 100px;
}

#ophthacare {    
  max-width: 35%;    
  margin: 5em auto;    
  text-align: center;    
}

.header {
  display: inline-block;
  line-height: 32px;
  padding-top: -10px;
  text-align: center;
}
.mat-tab-group {
  padding-top: 50px;
}