<app-nav-top></app-nav-top>
<mat-tab-group>
    <!-- Login Administrateurs -->
    <mat-tab label="{{ 'Admins' | translate }}">
        <mat-card id="ophthacare">
            <mat-card-title class="ophthacare-matCard-title">
                LogIn {{ 'Admins' | translate }}
            </mat-card-title>
            <mat-card-content>
                <form (ngSubmit)="loginAdmin()" #loginFormAdmin="ngForm">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 ophthacare-login">
                                <mat-form-field appearance="outline" class="demo-full-width">
                                    <mat-label>{{ 'pseudoAdmin' | translate }}</mat-label>
                                    <mat-icon matPrefix class="ophthacare-matIcon-position">account_circle</mat-icon>
                                    <input matInput placeholder="Username" name="username" [(ngModel)]="admin.nomAdmin"
                                        type="text">
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-8 ophthacare-login">
                                <mat-form-field appearance="outline" class="demo-full-width">
                                    <mat-label>{{ 'password' | translate }}</mat-label>
                                    <mat-icon matPrefix class="ophthacare-matIcon-position">vpn_key</mat-icon>
                                    <input matInput placeholder="Password" name="password" [(ngModel)]="admin.password"
                                        [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide" class="hide-show-password">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button class="ophthacare-button white-outline-btn" [disabled]="!loginFormAdmin.form.valid" type="submit">
                            <mat-icon>done_all</mat-icon>
                            <b class="ophthacare-button-text">{{ 'Login' | translate }}</b>
                        </button>
                    </div>
                    <br>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <!-- Login Personnels -->
    <mat-tab label="{{ 'Specialists' | translate }}">
        <mat-card id="ophthacare" class="personnel-section">
            <mat-card-title class="ophthacare-matCard-title">
                LogIn {{ 'Specialists' | translate }}
            </mat-card-title>
            <mat-card-content>
                <form (ngSubmit)="loginPersonnel()" #loginForm="ngForm">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 ophthacare-login">
                                <mat-form-field appearance="outline" class="demo-full-width">
                                    <mat-label>{{ 'matriculeMedecin' | translate }}</mat-label>
                                    <mat-icon matPrefix class="ophthacare-matIcon-position">person_outline</mat-icon>
                                    <input matInput placeholder="Matricule" name="matricule"
                                        [(ngModel)]="medecin.matriculeMedecin" type="text">
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-8 ophthacare-login">
                                <mat-form-field appearance="outline" class="demo-full-width">
                                    <mat-label>{{ 'password' | translate }}</mat-label>
                                    <mat-icon matPrefix class="ophthacare-matIcon-position">vpn_key</mat-icon>
                                    <input matInput placeholder="Password" name="password"
                                        [(ngModel)]="medecin.password" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide" class="hide-show-password">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button class="ophthacare-button white-outline-btn" [disabled]="!loginForm.form.valid" type="submit">
                            <mat-icon>done_all</mat-icon>
                            <b class="ophthacare-button-text">{{ 'Login' | translate }}</b>
                        </button>
                    </div>
                    <br>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>