<p-blockUI [baseZIndex]="4500" [blocked]="blocked"></p-blockUI>

<div *ngIf="blocked == true" style="position: absolute;top: 40%;left: 40%; z-index: 1002;">
  <img src="/assets/images/giphy.gif" title="Leopard" style="-webkit-transform: scaleX(-1); transform: scaleX(-1); width:40%" />
</div>

<app-home></app-home>
<div class="main-container">
  <div style="background: #3385a9">
    <div class="title">
      {{ 'Admins Clinique' | translate }}
    </div>
  </div>
  <div>
    <p-table #dt [columns]="cols" [value]="admins.list" [paginator]="true" [rows]="10" selectionMode="single">
      <ng-template pTemplate="caption">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-button type="button" label="{{ 'Download Admins' | translate }}" (onClick)="exportExcelAdministrateurs()"
              icon="pi pi-download" class="ui-button-success"></p-button>
            <p-button label="{{ 'New Admin' | translate }}" [disabled]="isAdmin()" (onClick)="createAdmin()"
              icon="pi pi-users" iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
          <div class="ui-toolbar-group-right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="filter" type="text" pInputText size="50" placeholder="{{ 'Filter' | translate }}"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <p-button label="{{ 'Reset Filter' | translate }}" (click)="clearFilter(dt)" icon="pi pi-times"
              iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header | translate }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input class="filter" *ngIf="col.field != 'detail'"
              style="max-width: -webkit-fill-available; max-width: -moz-available;" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admin>
        <tr>
          <td>
            <p-button type="button" style="margin-left:33%" (click)="detailsAdmin(admin)" [disabled]="isAdmin()" icon="pi pi-search"></p-button>
          </td>
          <td class="code"><b>{{ admin.pseudoAdmin }}</b></td>
          <td>{{ admin.nomAdmin }}</td>
          <td>{{ admin.prenomAdmin }}</td>
          <td>{{ admin.roleAdmin }}</td>
          <td>{{ admin.activeAdmin }}</td>
          <td>
            <p-button type="button" style="margin-left:33%" styleClass="ui-button-success" (click)="updateAdmin(admin)" [disabled]="isAdmin()" icon="pi pi-pencil"></p-button>
          </td>
          <td>
            <p-button type="button" icon="pi pi-trash" styleClass="ui-button-danger" style="margin-left:33%" (click)="deleteAdmin(admin)" [disabled]="isAdmin()"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Dialog Confirmation Delete -->
  <p-confirmDialog [style]="{width: '500px'}"></p-confirmDialog>
</div>

<!-- Dialog Add New Admin -->
<p-dialog header="{{ 'New Admin' | translate }}" [(visible)]="displayNewDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <form (ngSubmit)="submitAdmin(newAdmin)" #newForm="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="nomAdmin"><b>{{ 'firstName' | translate }}</b></label>
          <input type="text" id="nomAdmin" name="nomAdmin" [(ngModel)]="newAdmin.nomAdmin" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="prenomAdmin"><b>{{ 'lastName' | translate }}</b></label>
          <input type="text" id="prenomAdmin" name="prenomAdmin" [(ngModel)]="newAdmin.prenomAdmin" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="pseudoAdmin"><b>{{ 'pseudoAdmin' | translate }}</b></label>
          <input type="text" id="pseudoAdmin" name="pseudoAdmin" [(ngModel)]="newAdmin.pseudoAdmin" pInputText class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="activeAdmin"><b>{{ 'activeAdmin' | translate }}</b></label><br>
          <p-selectButton id="activeAdmin" name="activeAdmin" [(ngModel)]="newAdmin.activeAdmin" [options]="activation" required></p-selectButton>
        </div>
        <div class="col-md-4">
          <label for="roleAdmin"><b>{{ 'roleAdmin' | translate }}</b></label><br>
          <p-dropdown id="roleAdmin" name="roleAdmin" [options]="role" [(ngModel)]="newAdmin.roleAdmin" [filter]="true" required></p-dropdown>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
    <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!newForm.form.valid"
          label="{{ 'Create' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Update Admin -->
<p-dialog header="{{ 'Update Admin' | translate }}" [(visible)]="displayUpdateDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <form (ngSubmit)="submitUpdateAdmin(adminUpdate)" #updateForm="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="nomAdmin"><b>{{ 'firstName' | translate }}</b></label>
          <input type="text" id="nomAdmin" name="nomAdmin" [(ngModel)]="adminUpdate.nomAdmin" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="prenomAdmin"><b>{{ 'lastName' | translate }}</b></label>
          <input type="text" id="prenomAdmin" name="prenomAdmin" [(ngModel)]="adminUpdate.prenomAdmin" pInputText class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="pseudoAdmin"><b>{{ 'pseudoAdmin' | translate }}</b></label>
          <input type="text" id="pseudoAdmin" name="pseudoAdmin" [(ngModel)]="adminUpdate.pseudoAdmin" pInputText class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-4">
          <label for="activeAdmin"><b>{{ 'activeAdmin' | translate }}</b></label><br>
          <p-selectButton id="activeAdmin" name="activeAdmin" [(ngModel)]="adminUpdate.activeAdmin" [options]="activation" required></p-selectButton>
        </div>
        <div class="col-md-4">
          <label for="roleAdmin"><b>{{ 'roleAdmin' | translate }}</b></label><br>
          <p-dropdown id="roleAdmin" name="roleAdmin" [options]="role" [(ngModel)]="adminUpdate.roleAdmin" [filter]="true" required></p-dropdown>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
    <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!updateForm.form.valid"
          label="{{ 'Update' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Details Admins -->
<p-dialog header="{{ 'ID' | translate }} : {{ admin.pseudoAdmin }}" [(visible)]="displayDetailsDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-3">
            <p-card header="{{ 'pseudoAdmin' | translate }}" [style]="{width: '200px'}">
                <div>{{ admin.pseudoAdmin }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'firstName' | translate }}" [style]="{width: '200px'}">
                <div>{{ admin.nomAdmin }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'lastName' | translate }}" [style]="{width: '200px'}">
                <div>{{ admin.prenomAdmin }}</div>
            </p-card>
        </div>
        <div class="col-md-3">
            <p-card header="{{ 'roleAdmin' | translate }}" [style]="{width: '200px'}">
                <div>{{ admin.roleAdmin }}</div>
            </p-card>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
          <div class="col-md-3">
              <p-card header="{{ 'registrationAdmin' | translate }}" [style]="{width: '200px'}">
                  <div><b style="color: green;">{{ admin.registrationAdmin }}</b></div>
              </p-card>
          </div>
          <div class="col-md-3">
              <p-card header="{{ 'lastLoginAdmin' | translate }}" [style]="{width: '200px'}">
                  <div><b style="color: red;">{{ admin.lastLoginAdmin }}</b></div>
              </p-card>
          </div>
        </div>
  </div>
  <p-footer>
    <button pButton type="button" icon="pi pi-times" (click)="displayDetailsDialog=false" label="{{ 'Close' | translate }}"
      class="ui-button-danger"></button>
  </p-footer>
</p-dialog>