<div id="sidebar" style="padding-top: 50px;">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/patients']">
            <mat-icon class="sidenav-icon">contacts</mat-icon> {{ 'Ill' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/administrateurs']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Admins' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('professions-medecins')">
                <i class="fa fa-user-md sidenav-icon" style="font-size:24px;"></i> <span style="padding-left: 15px;">{{ 'Corps Medical' | translate }}</span>
            </a>
            <ul class="nested submenu" *ngIf="showMenu === 'professions-medecins'">
                <li>
                    <a [routerLink]="['/medecins']"><span>{{ 'Specialists' | translate }}</span></a>
                </li>
                <li>
                    <a [routerLink]="['/professions']"><span>{{ 'Professions' | translate }}</span></a>
                </li>
            </ul>
        </div>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/maladies']">
            <mat-icon class="sidenav-icon">visibility</mat-icon> {{ 'Diseases' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/grid']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Material Grid' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/components']">
            <mat-icon class="sidenav-icon">code</mat-icon> {{ 'Material Component' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
            <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> {{ 'Blank Page' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')">
                <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Menu' | translate }}
            </a>
            <ul class="nested submenu" *ngIf="showMenu === 'pages'">
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
            </ul>
        </div>
    </mat-nav-list>
</div>
