<p-blockUI [baseZIndex]="4500" [blocked]="blocked"></p-blockUI>

<div *ngIf="blocked == true" class="ophthacare-loading">
  <img src="/assets/images/giphy.gif" title="OphthaCare Clinique" class="ophthacare-loading-image" />
</div>

<app-home></app-home>
<div class="main-container">
  <div class="ophthacare-header-component">
      {{ 'Professions Medecins' | translate }}
  </div>
  <div>
    <p-table #dt [columns]="cols" [value]="professions.list" [paginator]="true" [rows]="10" selectionMode="single">
      <ng-template pTemplate="caption">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-button type="button" label="{{ 'DOWNLOAD_EXCEL_PROFESSIONS' | translate }}" (onClick)="exportExcelProfessionsMedecins()"
              icon="pi pi-download" class="ui-button-success"></p-button>
            <p-button label="{{ 'New Profession' | translate }}" [disabled]="isAdmin()" (onClick)="createProfession()"
              icon="pi pi-user-plus" iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
          <div class="ui-toolbar-group-right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="filter" type="text" pInputText size="50" placeholder="{{ 'FILTER' | translate }}"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <p-button label="{{ 'RESET_FILTER' | translate }}" (click)="clearFilter(dt)" icon="pi pi-times"
              iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header | translate }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input class="filter" *ngIf="col.field != 'detail'"
              style="max-width: -webkit-fill-available; max-width: -moz-available;" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profession>
        <tr>
          <td>
            <p-button type="button" style="margin-left:33%" (click)="detailsProfession(profession)" [disabled]="isAdmin()" icon="pi pi-search"></p-button>
          </td>
          <td class="code"><b>{{ profession.codeProfession }}</b></td>
          <td>{{ profession.nomProfession }}</td>
          <td>{{ profession.descProfession | truncate : 50 : " ..." }}</td>
          <td>
            <p-button type="button" style="margin-left:33%" styleClass="ui-button-success" (click)="updateProfession(profession)" [disabled]="isAdmin()" icon="pi pi-pencil"></p-button>
          </td>
          <td>
            <p-button type="button" icon="pi pi-trash" styleClass="ui-button-danger" style="margin-left:33%" (click)="deleteProfession(profession)" [disabled]="isAdmin()"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Dialog Confirmation Delete -->
  <p-confirmDialog [style]="{width: '500px'}"></p-confirmDialog>
</div>

<!-- Dialog Add New Profession -->
<p-dialog header="{{ 'New Profession' | translate }}" [(visible)]="displayNewDialog" [modal]="true" [responsive]="true" [width]="500"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="false" [baseZIndex]="10">
  <form (ngSubmit)="submitProfession(newProfession)" #newProf="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-12">
          <label for="nomProfession"><b>{{ 'nomProfession' | translate }}</b></label>
          <input type="text" id="nomProfession" name="nomProfession" [(ngModel)]="newProfession.nomProfession" pInputText class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-12">
          <label for="descProfession"><b>{{ 'descProfession' | translate }}</b></label><br>
          <textarea style="width: 100%;" id="descProfession" name="descProfession" [(ngModel)]="newProfession.descProfession" 
            pInputTextarea [rows]="5" [cols]="30" placeholder="{{ 'Insert description ...' | translate }}" required></textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!newProf.form.valid"
              label="{{ 'Create' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Update Profession -->
<p-dialog header="{{ 'Update Profession' | translate }}" [(visible)]="displayUpdateDialog" [modal]="true" [responsive]="true" [width]="500"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="false" [baseZIndex]="10">
  <form (ngSubmit)="submitUpdateProfession(professionUpdate)" #newForm="ngForm">
    <div class="container-fluid">
      <div class="row" style="margin: 15px;">
        <div class="col-md-12">
          <label for="nomProfession"><b>{{ 'nomProfession' | translate }}</b></label>
          <input type="text" id="nomProfession" name="nomProfession" [(ngModel)]="professionUpdate.nomProfession" pInputText class="form-control" />
        </div>
      </div>
      <div class="row" style="margin: 15px;">
        <div class="col-md-12">
          <label for="descProfession"><b>{{ 'descProfession' | translate }}</b></label><br>
          <textarea style="width: 100%;" id="descProfession" name="descProfession" [(ngModel)]="professionUpdate.descProfession" 
            pInputTextarea [rows]="5" [cols]="30" placeholder="{{ 'Insert description ...' | translate }}" required></textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
    <p-footer>
        <div class="pull-right" style="margin: 15px;">
          <button pButton type="button" icon="pi pi-times" (click)="closeDialog()" label="{{ 'Close' | translate }}" class="ui-button-danger"></button>
          <button style="margin-left: 20px" pButton type="submit" icon="pi pi-check" [disabled]="!newForm.form.valid"
          label="{{ 'Update' | translate }}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<!-- Dialog Details Professions -->
<p-dialog header="{{ 'nomProfession' | translate }} - {{ profession.nomProfession }}" [(visible)]="displayDetailsDialog" [modal]="true" [responsive]="true" [width]="500"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="false" [baseZIndex]="10">
    <div class="container-fluid">
      <div class="row" style="margin: 10px;">
        <div class="col-md-6">
            <p-card header="{{ 'codeProfession' | translate }}" [style]="{width: '200px'}">
                <div>{{ profession.codeProfession }}</div>
            </p-card>
        </div>
        <div class="col-md-6">
            <p-card header="{{ 'nomProfession' | translate }}" [style]="{width: '200px'}">
                <div>{{ profession.nomProfession }}</div>
            </p-card>
        </div>
      </div>
      <div class="row" style="margin: 10px;">
        <div class="col-md-12">
            <p-card header="{{ 'descProfession' | translate }}" [style]="{width: '500px'}">
                <div>{{ profession.descProfession }}</div>
            </p-card>
        </div>
      </div>
    </div>
      <p-footer>
        <button pButton type="button" icon="pi pi-times" (click)="displayDetailsDialog=false" label="{{ 'Close' | translate }}"
              class="ui-button-danger"></button>
      </p-footer>
</p-dialog>
