
.footer{
    height:50px;
       width: 100%;
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color:#910d18;
       text-align: center
    };
   #link{
    color:white; 
   }