
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4">
              <a [routerLink]="['/team']" id="link"> {{ 'our-team' | translate }}</a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/opththacare']" id="link">
                {{ 'about-ophthacare' | translate }}</a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/platform']" id="link"> {{ 'our-platform' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <a [routerLink]="['/contact']" id="link"> {{ 'contact-us' | translate }}</a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/support']" id="link"> {{ 'support-ophthacare' | translate }}</a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/opththacare']" id="link"> {{ 'about-ophthacare' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

