<div class="ophthacare-footer-dashboard-wrapper">
  <div class="ophthacare-footer-dashboard-container">
    <div class="row">
      <div class="col-md-5 ophthacare-footer-dashboard-items">
        <div class="row">
          <div class="col-md-4">
            <a [routerLink]="['/team']">{{ 'our-team' | translate }}</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/opththacare']">{{ 'about-ophthacare' | translate }}</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/platform']">{{ 'our-platform' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 ophthacare-footer-dashboard-items">
        <div class="row">
          <div class="col-md-4">
            <a [routerLink]="['/contact']">{{ 'contact-us' | translate }}</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/support']">{{ 'support-ophthacare' | translate }}</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/opththacare']">{{ 'about-ophthacare' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>