<div id="sidebar" class="navLeft-container">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'DASHBOARD' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/patients']">
            <mat-icon class="sidenav-icon">contacts</mat-icon> {{ 'SICK_PATIENTS' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('administrateurs')">
                <i class="fa fa-users sidenav-icon"></i> <span class="navLeft-multiple-level">{{ 'Admins' | translate }}</span>
            </a>
            <ul class="nested submenu" *ngIf="showMenu === 'administrateurs'">
                <li>
                    <a [routerLink]="['/administrateurs']"><span>{{ 'Admins' | translate }}</span></a>
                </li>
                <li>
                    <a [routerLink]="['/permissions']"><span>{{ 'Privileges' | translate }}</span></a>
                </li>
            </ul>
        </div>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('professions-medecins')">
                <i class="fa fa-user-md sidenav-icon"></i> <span class="navLeft-multiple-level">{{ 'Corps Medical' | translate }}</span>
            </a>
            <ul class="nested submenu" *ngIf="showMenu === 'professions-medecins'">
                <li>
                    <a [routerLink]="['/medecins']"><span>{{ 'SPECIALISTS' | translate }}</span></a>
                </li>
                <li>
                    <a [routerLink]="['/professions']"><span>{{ 'Professions' | translate }}</span></a>
                </li>
            </ul>
        </div>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/maladies']">
            <mat-icon class="sidenav-icon">visibility</mat-icon> {{ 'Diseases' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/reports']">
            <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Report' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/components']">
            <mat-icon class="sidenav-icon">code</mat-icon> {{ 'Material Component' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
            <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> {{ 'Blank Page' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')">
                <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Menu' | translate }}
            </a>
            <ul class="nested submenu" *ngIf="showMenu === 'pages'">
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
            </ul>
        </div>
    </mat-nav-list>
</div>
