<p-blockUI [baseZIndex]="4500" [blocked]="blocked"></p-blockUI>

<div *ngIf="blocked == true" style="position: absolute;top: 50%;left: 45%; z-index: 1002;">
    <img src="/assets/images/moving-eyes.gif" title="Leopard" style="-webkit-transform: scaleX(-1);
      transform: scaleX(-1); width:50%" />
  </div>

<app-home></app-home>
<div class="main-container">
  <div style="background: #3385a9">
    <div class="title">
      {{ 'Patients Clinique' | translate }}
    </div>
  </div>
  <div>
    <p-table #dt [columns]="cols" [value]="patients.list" [paginator]="true" [rows]="10" selectionMode="single">
      <ng-template pTemplate="caption">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <p-button type="button" label="{{ 'Download Patients' | translate }}" (onClick)="exportExcelFile()"
              icon="pi pi-download" class="ui-button-success"></p-button>
            <p-button label="{{ 'New Patient' | translate }}" [disabled]="isAdmin()" (onClick)="openDialogCreateUser()"
              icon="pi pi-pencil" iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
          <div class="ui-toolbar-group-right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="filter" type="text" pInputText size="50" placeholder="{{ 'Filter' | translate }}"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <p-button label="{{ 'Reset Filter' | translate }}" (click)="clearFilter(dt)" icon="pi pi-times"
              iconPos="left" style="margin-left: 20px;"></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header | translate }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input class="filter" *ngIf="col.field != 'detail'"
              style="max-width: -webkit-fill-available; max-width: -moz-available;" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>
            <p-button type="button" style="margin-left:33%" (click)="openDetails(patient)" [disabled]="isAdmin()" icon="pi pi-search"></p-button>
          </td>
          <td>{{ patient.nomPatient }}</td>
          <td>{{ patient.prenomPatient }}</td>
          <td>{{ patient.sexePatient }}</td>
          <td>{{ patient.dateNaisPatient }}</td>
          <td>{{ patient.numTelPatient }}</td>
          <td>{{ patient.codePostPatient }}</td>
          <td>
            <p-button type="button" style="margin-left:33%" [disabled]="isAdmin()" icon="pi pi-cog"></p-button>
          </td>
          <td>
            <p-button type="button" icon="pi pi-trash" style="margin-left:33%" [disabled]="isAdmin()"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog Details Patients -->
<p-dialog header="{{ patient.nomPatient }} {{ patient.prenomPatient }}" [(visible)]="displayDetailsDialog" [modal]="true" [responsive]="true" [width]="1000"
  [minWidth]="700" [draggable]="false" [resizable]="false" [positionTop]="25" [maximizable]="true" [baseZIndex]="10">
  <div class="container-fluid" style="margin-top: 35px;">
    <div style="margin-top: 15px;">
      <div class="form-group">
        <label for="nome"><b>Email Template</b></label><br>
        <input id="nome" type="text" readonly class="form-control" size="30" pInputText
          [(ngModel)]="patient.agePatient" name="nome" required>
      </div>
    </div>
    <div style="margin-top: 15px;">
      <div class="ui-inputgroup">
        <span for="to" class="ui-inputgroup-addon">To..</span>
        <input id="to" name="to" style="width: 100%;" type="text" readonly class="form-control" pInputText
          [(ngModel)]="patient.agePatient" required>
      </div>
    </div>
    <div style="margin-top: 15px;">
      <div class="ui-inputgroup">
        <span for="cc" class="ui-inputgroup-addon">CC..</span>
        <input id="cc" name="cc" style="width: 100%;" type="text" readonly class="form-control" pInputText
          [(ngModel)]="patient.agePatient" required>
      </div>
    </div>
    <div style="margin-top: 15px;">
      <div class="ui-inputgroup">
        <span for="ccn" class="ui-inputgroup-addon">CCN..</span>
        <input id="ccn" name="ccn" style="width: 100%;" type="text" readonly class="form-control" pInputText
          [(ngModel)]="patient.agePatient">
      </div>
    </div>
    <div style="margin-top: 15px;">
      <div class="ui-inputgroup">
        <span for="subject" class="ui-inputgroup-addon">Subject:</span>
        <input id="subject" name="subject" style="width: 100%;" type="text" readonly class="form-control" pInputText
          [(ngModel)]="patient.agePatient" required>
      </div>
    </div>
    <div style="margin-top: 15px;">
      <textarea style="width:100%" [(ngModel)]="patient.agePatient" pInputTextarea [rows]="10" [cols]="30"
        placeholder="Inserire testo ..." name="text" required readonly></textarea>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" icon="pi pi-times" (click)="displayDetailsDialog=false" label="Chiudi"
      class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
