<app-home></app-home>
<div class="main-container">
  <p-button type="button" label="Download File Utenze" (onClick)="exportExcelFile()" icon="pi pi-download"
    class="ui-button-success"></p-button>
    <div style="background: #3385a9">
        <div class="title">
          Patients
        </div>
      </div>
      <div>
      <p-table #dt [columns]="cols" [value]="patients.list" [paginator]="true" [rows]="10" selectionMode="single">
          <ng-template pTemplate="caption">
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <p-button type="button" label="Download File Utenze" (onClick)="exportExcelFile()" icon="pi pi-download" class="ui-button-success"></p-button>
                <p-button label="Crea Nuovo Utente" [disabled]="isAdmin()" (onClick)="openDialogCreateUser()" icon="pi pi-pencil"
                  iconPos="left" style="margin-left: 20px;"></p-button>
              </div>
              <div class="ui-toolbar-group-right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input class="filter" type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
                <p-button label="Reset Filtri" icon="pi pi-times" iconPos="left" style="margin-left: 20px;"></p-button>
              </div>
            </p-toolbar>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns">
                <input class="filter" *ngIf="col.field != 'detail'" style="max-width: -webkit-fill-available; max-width: -moz-available;"
                  pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-patient>
            <tr>
              <td>{{ patient.nomPatient }}</td>
              <td>{{ patient.prenomPatient }}</td>
              <td>{{ patient.sexePatient }}</td>
              <td>{{ patient.dateNaisPatient }}</td>
              <td>{{ patient.emailPatient }}</td>
              <td>{{ patient.numTelPatient }}</td>
              <td>{{ patient.domicilePatient }}</td>
              <td>{{ patient.infoSupplPatient }}</td>
              <td>
                <p-button type="button" style="margin-left:33%" [disabled]="isAdmin()" icon="pi pi-cog"></p-button>
              </td>
              <td>
                <p-button type="button" icon="pi pi-trash" style="margin-left:33%" [disabled]="isAdmin()"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
</div>
