.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.sidenav-icon {
  text-decoration: none;
  padding: 0 10px 10px 10px;
  width: 50px;
}

.sidenav-icon-sub {
    text-decoration: none;
    padding: 0 5px 5px 5px;
    width: 50px;
    display: inline;
  }

.nav-spacer {
  flex: 1 1 auto;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  bottom: 0;
  background-color: black;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  z-index: 999;
  -ms-overflow-y: auto;
  overflow-y: auto;
}

.mat-nav-list {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

a .mat-icon {
  margin-right: 15px;
  display: block;
}

.nested .submenu {
    display: block;
    height: auto;
    margin: 0;
}

.nested-menu {
    color: white;
}

.submenu  li  a {
    padding: 10px;
    display: block;
}

ul {
    list-style-type: none; 
}

@media screen and (max-width: 992px) {
  #sidebar {
    left: -250px;
  }
}
