<div class="content-footer">
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-4">
        <p class="text-xs-center text-md-left">
          © OphthaCare {{ 'Clinic' |  translate }} {{ initYear }}<span *ngIf="!correct"> - {{ currentYear }}</span> :
          {{ 'copyright' | translate }}
        </p>
        <ul class="ophthacare-socials">
          <li class="ophthacare-icon">
            <a href="#" class="icon-facebook" title="Facebook OphthaCare"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-instagram" title="Instagram OphthaCare"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-linkedin" title="Linkedin OphthaCare"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>{{ 'Version' | translate }} v1.0.0</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4 class="ophthacare-footer">Footer 1</h4>
            <ul class="ophthacare-links">
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
              <h4 class="ophthacare-footer">Footer 2</h4>
              <ul class="ophthacare-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
              <h4 class="ophthacare-footer">Footer 3</h4>
              <ul class="ophthacare-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Venir icic</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="separator-footer">
    <div class="row">
      <ul class="ophthacare-privacy">
          <li><a href="#">Privacy1</a></li>
          <li><a href="#">Privacy2</a></li>
          <li><a href="#">Privacy3</a></li>
      </ul>
    </div>
  </div>
</div>