<div class="content-footer">
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-6">
        <p class="text-xs-center text-md-left">
          © OphthaCare {{ 'Clinic' |  translate }} {{ initYear }}<span *ngIf="!correct"> - {{ currentYear }}</span> :
          {{ 'copyright' | translate }}
        </p>
        <ul class="ophthacare-socials">
          <li class="ophthacare-icon">
            <a href="#" class="icon-facebook" title="Facebook OphthaCare"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-instagram" title="Instagram OphthaCare"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="ophthacare-icon">
            <a href="#" class="icon-linkedin" title="Linkedin OphthaCare"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>