<mat-toolbar color="primary">
    <span><img src="./assets/images/neuro-banner-1024x415.jpg" width="100" height="100"></span>
    <b style="font-size: 2em; margin-left: 5px; color: white;"><em>OphthaCare</em></b>
    <span class="demo-toolbar"></span>
</mat-toolbar>
<mat-card id="ophthacare">
    <mat-card-title style="margin: 15px;">
        LogIn OphthaCare
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6" style="margin-left: auto; margin-right: auto;">
                        <mat-form-field class="demo-full-width">
                            <mat-icon matPrefix style="margin-right: 10px;">account_circle</mat-icon>
                            <input matInput placeholder="Username" name="username" [(ngModel)]="admin.nomAdmin" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6" style="margin-left: auto; margin-right: auto;">
                        <mat-form-field class="demo-full-width">
                            <mat-icon matPrefix style="margin-right: 10px;">vpn_key</mat-icon>
                            <input matInput placeholder="Password" name="password" [(ngModel)]="admin.password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel-footer">
                <button mat-raised-button [disabled]="!loginForm.form.valid" color="primary" type="submit">
                    <mat-icon>done_all</mat-icon> 
                    <span> Entrer</span>
                </button>
            </div>
            <br>
        </form>
    </mat-card-content>
</mat-card>
