<p-blockUI [baseZIndex]="4500" [blocked]="blocked"></p-blockUI>

<div *ngIf="blocked == true" style="position: absolute;top: 40%;left: 40%; z-index: 1002;">
  <img src="/assets/images/giphy.gif" title="Leopard" style="-webkit-transform: scaleX(-1); transform: scaleX(-1); width:40%" />
</div>

<app-home></app-home>
<div class="main-container">
    <div class="coantainer ml-auto mr-auto profile-top">
      <div class="row">
        <div class="col-md-6 text-right">
          <img class="profile-image" src="https://www.kazoucoin.com/assets/img/default-avatar.png" alt="{{profilAdmin.nomAdmin}} {{profilAdmin.prenomAdmin}}" title="{{profilAdmin.nomAdmin}} {{profilAdmin.prenomAdmin}}" />
        </div>
        <div class="col-md-6 text-left">
          <h3 class="user-title">{{profilAdmin.nomAdmin}} {{profilAdmin.prenomAdmin}}</h3>
          <button mat-raised-button color="primary" >
              <mat-icon>edit</mat-icon>
              <span> {{ 'edit' | translate }}</span>
          </button>
        </div>
      </div>
      <div class="row profile-top">
          <div class="col-md-12 ml-auto mr-auto">
            <mat-tab-group>
                <mat-tab label="{{ 'personalInfos' | translate }}"> 
                  <mat-card>
                      <div class="row userProfile">
                        <div class="col-md-4">
                          <label><b>{{ 'firstName' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.nomAdmin}}</span>
                        </div>
                        <div class="col-md-4">
                          <label><b>{{ 'lastName' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.prenomAdmin}}</span>
                        </div>
                        <div class="col-md-4">
                          <label><b>{{ 'pseudoAdmin' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.pseudoAdmin}}</span>
                        </div>
                      </div>
                      <div class="row userProfile">
                        <div class="col-md-3">
                          <label><b>{{ 'roleAdmin' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.roleAdmin}}</span>
                        </div>
                        <div class="col-md-3">
                          <label><b>{{ 'activeAdmin' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.activeAdmin}}</span>
                        </div>
                        <div class="col-md-3">
                          <label><b>{{ 'registrationAdmin' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.registrationAdmin}}</span>
                        </div>
                        <div class="col-md-3">
                          <label><b>{{ 'lastLoginAdmin' | translate }}</b></label><br>
                          <span class="content-text-color">{{profilAdmin.lastLoginAdmin}}</span>
                        </div>
                      </div>
                      <div class="row userProfile">
                        <button mat-raised-button color="primary" >
                            <mat-icon>edit</mat-icon>
                            <span> {{ 'edit' | translate }}</span>
                        </button>
                      </div>
                  </mat-card>
                </mat-tab>
                <mat-tab label="{{ 'expertise' | translate }}">
                   Content 2 
                </mat-tab>
                <mat-tab label="{{ 'contacts' | translate }}">
                   Content 3 
                </mat-tab>
            </mat-tab-group>
        </div>
      </div>
    </div>
</div>
