.profile-top {
    padding-top: 50px;
}
.user-title {
    padding-bottom: 15px;
}
.profile-image {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.mat-tab-label {
    color: black !important;
    font-size: 18px;
    font-weight: 600;
}
.mat-tab {
    padding-top: 20px;
}
.userProfile {
    padding: 20px;
}
.user-card-color {
    background-color: #c2185b;
}
mat-card .row div {
    text-align: left;
}